.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    background-color: #555;
}

.search-form {
    display: flex;
    margin-right: 10px; /* Adjust margin as needed */
}

.search-form input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

.search-form button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.login a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.login a:hover {
    background-color: #555;
}
